.swiper-wrapper
  .swiper-slide.one-screen#main-title
    .content-wrapper.with-bg-l
      .content
        .main-icon
        p.title.sub GDG Shanghai DevFest 2014
        h1 Android Wear Feast
        p.sub.center &lt;&lt;&lt;&nbsp;向左滑动

  .swiper-slide.one-screen#date-info
    .content-wrapper
      .content
        .date
          i.fa.fa-calendar
          span 2014 年 10 月 26 日
        .time
          i.fa.fa-clock-o
          | 9:00 - 18:00
        .address 
          i.fa.fa-map-marker
          | 上海市浦东新区博云路 2 号浦软大厦
        .note.sub
          | 可穿戴设备的光辉时代到啦，Google 带着 Android Wear 席卷全球，引领可穿戴 Wear 风潮！谷粉们的福利到啦，如果你想了解、体验 Android Wear，如果你看好可穿戴设备的商业前景，如果你想尝试开发 Wear 应用，还等什么，赶紧来 2014 Google Devfest 吧！Google 狂欢盛宴等你来参加！

  .swiper-slide.one-screen#agenda
    .content-wrapper
      .content
        .top 活动流程
        .agenda-wrapper
          ul.sections
            li
              .section.s1
                .time 10:00 - 12:00
                .info 话题分享
            li
              .section.s2
                .time 13:00 - 14:00
                .info 应用点评
            li
              .section.s3
                .time 14:00 - 16:00
                .info 创意比赛
            li
              .section.s4
                .time 16:00 - 17:00
                .info CodeLabs

  .swiper-slide.one-screen.speaker-intro#speaker1
    .content-wrapper.half
      .content
        .speaker
          span.title.sub Google Developer Expert
          span.name Alpha
        .topic
          .topic-name.
            Design + Develop for Wearables

  .swiper-slide.one-screen.speaker-intro#speaker2
    .content-wrapper.half
      .content
        .speaker
          span.title.sub inWatch 海外产品负责人
          span.name 叶艇
        .topic
          .topic-name.
            inWatch 前期产品设计分析

  .swiper-slide.one-screen.speaker-intro#speaker3
    .content-wrapper.half
      .content
        .speaker
          span.title.sub 出门问问 Android Wear 产品经理
          span.name 马骥良
        .topic
          .topic-name.
            出门问问 Android Wear<br>开发故事

          //- Android Wear
          //- .desc 介绍 Android Wear的最新特性，涵盖整个Google可穿戴平台的介绍，让你站在可穿戴计算的最前沿，一揽众山小。
        //- 关于 Alpha
        //- Google Developer Expert,在 Google Apps与 Google Cloud Platform的实战经验超过6年。帮助团队与客户使用最新的技术提高生产效率的同时，降低投入成本，获得更高的技术投入回报

  .swiper-slide.one-screen#location
    .content-wrapper
      #map-container
      .content
        .icon-turn-right
        .location-info
          .info 上海市浦东新区博云路 2 号浦软大厦
          .tra 交通: 地铁 2 号线金科路站
