// -------------------------------------
// ★ Variables
// -------------------------------------
@import "mixins"; // Custom mixins, functions, etc

// Sizes
$max-width: em(940);
$desktop: em(940);
$tablet: em(767);
$mobile: 100%;

// Colors
$textColor: #464b4f;
$textColor2: #888a8b;
$textColor3: #818baa;
$inputPlaceholderColor: #c8c8c8;
$purpleColor: #7b77c9;
$bgColor: #23232e;

